<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/recipes">Recipe Book</a>
      <button appDropdown (click)="displaySmallScreenMenu()"class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-100" [ngStyle]="smallScreenMenu ? {display: 'block'} : ''" id="navbarNav">
        <ul class="navbar-nav w-100">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/recipes">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
          </li>
          <li class="nav-item dropdown ms-lg-auto">
            <a appDropdown (click)="openToggleList()" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage
            </a>
            <ul class="dropdown-menu dropmenu-fix" aria-labelledby="navbarDropdown" [ngClass]="toggleList ? 'gabi_fix show' : ''">
              <li><a class="dropdown-item">Save Data</a></li>
              <li><a class="dropdown-item">Fetch Data</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>