<div class="row">
    <div class="col">
        <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="recipe_image">
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>{{ recipe.name }}</h2>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group open" role="group">
              <button appDropdown (click)="openToggleList()" id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </button>
              <ul style="cursor:pointer;" class="dropdown-menu" aria-labelledby="btnGroupDrop1" [ngClass]="toggleList ? 'open gabi_fix' : ''">
                <li><a class="dropdown-item" (click)="onAddToShoppingList()">To Shopping List</a></li>
                <li><a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a></li>
                <li><a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a></li>
              </ul>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>{{ recipe.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Ingredients:</p>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>