/* You can add global styles to this file, and also import other style files */
.gabi_fix{
    position: absolute; 
    inset: 0px auto auto 0px; 
    margin: 0px; 
    transform: translate(0px, 40px);
    display: block!important;
}