<div class="row">
    <div class="col">
        <form>
            <div class="row mb-2">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="ingredientName" class="form-label">Ingredient</label>
                        <input type="text" class="form-control" id="ingredientName" placeholder="Name of the ingredient">
                      </div>
                </div>
                <div class="col-sm-2">
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" placeholder="Qty.">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-success me-1" type="submit">Add</button>
        <button class="btn btn-danger me-1" type="button">Delete</button>
        <button class="btn btn-primary" type="button">Clear</button>
    </div>
</div>